<%= form_for @order do |f| %>
    <p><%= f.label :raw_text %><%= f.text_area :raw_text %></p>
    <p><%= f.label :email %><%= f.email_field :email %></p>
    <p><%= f.submit "anlegen" %></p>
<% end %>